[MAIN]
disable=missing-function-docstring, 
        logging-fstring-interpolation, 
        missing-module-docstring, 
        broad-exception-caught, 
        missing-class-docstring, 
        too-few-public-methods

[MASTER]
extension-pkg-allow-list=pydantic